// Override Boostrap variables
// @import '~bootswatch/dist/slate/variables';
// Import Bootstrap source files from node_modules
@import '~@coreui/coreui/scss/coreui.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
// @import '~bootswatch/dist/slate/bootswatch';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~tui-image-editor/dist/tui-image-editor.css';

.uploadPictureContainer {
  width: 30% !important;
  margin: 1% !important;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: black;
  font-weight: bold;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after,
  &::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.app-container {
  box-sizing: border-box;
  .view-container {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    .view-routes {
      height: 100%;
      > div {
        height: 100%;
      }
    }
  }
}

.fullscreen {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 99% !important;
  height: calc(100vh - 110px) !important;
  z-index: 1000;
  padding: 5px 25px 50px 25px !important;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Custom button styles
========================================================================== */

.icon-button > .btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5rem;
  line-height: 1rem;
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Temporary workaround for availity-reactstrap-validation */
.invalid-feedback {
  display: inline;
  margin-left: 70px;
}

/* other generic styles */

.title {
  font-size: 1.25em;
  margin: 1px 10px 1px 10px;
}

.description {
  font-size: 0.9em;
  margin: 1px 10px 1px 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}

.error {
  color: white;
  background-color: red;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.break-word {
  white-space: normal;
  word-break: keep-all;
}

.preserve-space {
  white-space: pre-wrap;
}

/* padding helpers */

@mixin pad($size, $side) {
  @if $size== '' {
    @if $side== '' {
      .pad {
        padding: 10px !important;
      }
    } @else {
      .pad {
        padding-#{$side}: 10px !important;
      }
    }
  } @else {
    @if $side== '' {
      .pad-#{$size} {
        padding: #{$size}px !important;
      }
    } @else {
      .pad-#{$side}-#{$size} {
        padding-#{$side}: #{$size}px !important;
      }
    }
  }
}

@include pad('', '');
@include pad('2', '');
@include pad('3', '');
@include pad('5', '');
@include pad('10', '');
@include pad('20', '');
@include pad('25', '');
@include pad('30', '');
@include pad('50', '');
@include pad('75', '');
@include pad('100', '');
@include pad('4', 'top');
@include pad('5', 'top');
@include pad('10', 'top');
@include pad('20', 'top');
@include pad('25', 'top');
@include pad('30', 'top');
@include pad('50', 'top');
@include pad('75', 'top');
@include pad('100', 'top');
@include pad('4', 'bottom');
@include pad('5', 'bottom');
@include pad('10', 'bottom');
@include pad('20', 'bottom');
@include pad('25', 'bottom');
@include pad('30', 'bottom');
@include pad('50', 'bottom');
@include pad('75', 'bottom');
@include pad('100', 'bottom');
@include pad('5', 'right');
@include pad('10', 'right');
@include pad('20', 'right');
@include pad('25', 'right');
@include pad('30', 'right');
@include pad('50', 'right');
@include pad('75', 'right');
@include pad('100', 'right');
@include pad('5', 'left');
@include pad('10', 'left');
@include pad('20', 'left');
@include pad('25', 'left');
@include pad('30', 'left');
@include pad('50', 'left');
@include pad('75', 'left');
@include pad('100', 'left');

@mixin no-padding($side) {
  @if $side== 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* end of padding helpers */

.no-margin {
  margin: 0px;
}
@mixin voffset($size) {
  @if $size== '' {
    .voffset {
      margin-top: 2px !important;
    }
  } @else {
    .voffset-#{$size} {
      margin-top: #{$size}px !important;
    }
  }
}

@include voffset('');
@include voffset('5');
@include voffset('10');
@include voffset('15');
@include voffset('30');
@include voffset('40');
@include voffset('60');
@include voffset('80');
@include voffset('100');
@include voffset('150');

.readonly {
  background-color: #eee;
  opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */

a:hover {
  cursor: pointer;
}

.hand {
  cursor: pointer;
}

button.anchor-btn {
  background: none;
  border: none;
  padding: 0;
  align-items: initial;
  text-align: initial;
  width: 100%;
}

a.anchor-btn:hover {
  text-decoration: none;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */

#threadDump .popover,
#healthCheck .popover {
  top: inherit;
  display: block;
  font-size: 10px;
  max-width: 1024px;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#healthCheck .popover {
  margin-left: -50px;
}

.health-details {
  min-width: 400px;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */

.width-min {
  width: 1% !important;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.landing {
  // background-image: url('/content/images/background5.jpg');
  background-size: cover;
}
.landing2 {
  // background-image: url('/content/images/passport.png');
  opacity: 0.9;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-size: 400px;
}

.login {
  opacity: 0.8;
  width: 100%;
  border: none;

  // border: none;
}

.tui-image-editor-container .tui-image-editor-main {
  top: 0px;
}

// My Custom Design
.right-part-vector {
  width: 720px;
  height: 630px;
  margin: 20px 10px;
  background: url(../content/images/right-part-vector.jpg) no-repeat center;
  background-size: cover;
  @media screen and (max-width: 750px) {
    width: 100%;
    height: 600px;
    margin: 20px 10px;
  }
}
.landing-container {
  background-color: #ffffff;
  padding: 0;
}
.logo {
  width: 220px;
  height: 65px;
  margin: 50px auto 25px auto;
  display: block;
}
.lock {
  width: 50px;
  height: 60px;
  margin: auto;
  display: block;
}
.login_account {
  font-family: 'Montserrat';
  margin: 5px auto 10px 70px;
  font-size: 25px;
  color: black;
  font-weight: 600;
}
.lable {
  font-family: 'Montserrat';
  font-size: 15px;
  color: black;
  margin: 20px auto 0 70px;
  display: block;
  font-weight: 300;
}
.form-check-label {
  margin: auto auto auto 70px;
  font-weight: 300;
  font-size: 16px;
}
.error-lable {
  margin-left: 70px;
}
.sign__in-button {
  margin: auto auto auto 70px;
  background-color: #ff4f5a;
  color: #ffffff;
  width: 100px;
  height: 50px;
  font-family: 'Montserrat';
  font-size: 15px;
  &:hover {
    background-color: #1a2e35;
    color: white;
    transition: 0.5s ease-in-out;
  }
}
.forget-password {
  font-family: 'Montserrat';
  color: #ff4f5a;
  font-size: 15px;
  font-weight: 400;
  &:hover {
    color: #ff4f5a;
  }
}

.no-account {
  font-family: 'Montserrat';
  color: black;
  font-size: 15px;
  font-weight: 400;
  margin: 20px auto auto 70px;
}

.register {
  font-family: 'Montserrat';
  color: #ff4f5a;
  font-size: 15px;
  font-weight: 400;
  &:hover {
    color: #ff4f5a;
  }
}
.reset_password {
  font-family: 'Montserrat';
  margin: 20px auto 30px 70px;
  font-size: 25px;
  color: black;
  font-weight: 600;
}
.enter-email {
  font-family: 'Montserrat';
  font-size: 16px;
  color: black;
  margin: 25px auto 0 70px;
  display: block;
  font-weight: 400;
  width: 65%;
}

.enter-input {
  font-family: 'Montserrat';
  color: black;
  margin: 10px auto 0 70px;
  display: block;
  font-weight: 400;
  border: 0.5px solid black;
  opacity: 0.5;
  width: 70%;
  border-radius: 0px;
}
.reset-button {
  margin: 25px auto auto 70px;
  background-color: #ff4f5a;
  color: #ffffff;
  width: 150px;
  height: 50px;
  font-family: 'Montserrat';
  font-size: 15px;
  &:hover {
    background-color: #1a2e35;
    color: white;
    transition: 0.5s ease-in-out;
  }
}
.lable__input {
  font-family: 'Montserrat';
  font-size: 15px;
  color: black;
  margin: 10px auto 0 70px;
  display: block;
  font-weight: 300;
  width: 60%;
  border-radius: 0px;
  border: 0.5px solid grey;
}

.forgot-password__position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.forgot-password__text {
  font-size: 15px;
  margin-top: 17px;
  @media screen and (min-width: 1100px) {
    margin-left: -25px;
  }
}
