.financial-filter {
  margin-bottom: 20px;

  .date-wrapepr {
    padding-left: 0;
    .react-datepicker-wrapper {
      width: 100%;
      input {
        width: 100%;
        padding: 7px 10px;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 4px;
      }
    }
  }
}
